In [65]:
import pandas as pd
#Question 1
df = pd.read_csv("C:/Users/micha/PycharmProjects/Docs/AmesHousing.csv")
df.head()

   Order        PID  MS SubClass  ... Sale Type  Sale Condition  SalePrice
0      1  526301100           20  ...       WD           Normal     215000
1      2  526350040           20  ...       WD           Normal     105000
2      3  526351010           20  ...       WD           Normal     172000
3      4  526353030           20  ...       WD           Normal     244000
4      5  527105010           60  ...       WD           Normal     189900

[5 rows x 82 columns]

In [41]:
#Question 2 Print the highest and lowest priced homes in Ames.
df["SalePrice"].max()

755000

In [42]:
#Question 3 How many categories does lot size have? 
df["Lot Shape"].nunique()

4

In [47]:
#Question 4:  What is the range of years for the house listings in the data? 
max = df["Year Built"].max()
min = df["Year Built"].min()
print(f'{min} - {max}')

1872 - 2010

In [48]:
#Question 5 What is the total number of all homes sold in Ames for all years?
df["Yr Sold"].count()

2930

In [58]:
# Question 6:  How many nulls or NA are there in the Lot Frontage column? 
df["Lot Frontage"].isna().sum()

490

In [61]:
#Question 7:  How many items have a value in Alley and what is the total number of  NA in the column? 
df["Alley"].count()

198

In [64]:
print(df["Alley"].isna().sum())

2732

In [47]:
#Question 8:  What are all the homes in Gilbert with Yr Sold being 2009 and 2010? either method works here
# df[(df['Neighborhood']=='Gilbert') & ((df['Yr Sold']==2009) | (df['Yr Sold'] == 2010))] #either line works
# df[(df['Neighborhood']=='Gilbert') & (df['Yr Sold'].isin([2009,2010]))]

In [56]:
# Question 9:  What is the count of homes sold in Gilbert with Yr Sold being 2010? 
df[(df['Neighborhood']=='Gilbert') & (df['Yr Sold'].isin([2010]))].count()['PID']
# df[(df['Neighborhood']=='Gilbert') & (df['Yr Sold'] == 2010) ].count()['PID']  #either line works

15

In [73]:
# Question 10:  Return the value of the third row, and fifth column.

df.iloc[2,4]

81.0

In [67]:
# Question 11:  Remake a new column from the SalePrice that includes data formatted with the $, and commas for the thousands/millions digits

def format_price(price):
    return '${:,.02f}'.format(price)
format_price(10.9970)

df["FormattedSalePrice"] = df['SalePrice'].apply(format_price)
df

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice,FormattedSalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,NaN,NaN,NaN,0,5,2010,WD,Normal,215000,"$215,000.00"
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000,"$105,000.00"
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000,"$172,000.00"
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,NaN,NaN,NaN,0,4,2010,WD,Normal,244000,"$244,000.00"
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900,"$189,900.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500,"$142,500.00"
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000,"$131,000.00"
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000,"$132,000.00"
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,NaN,NaN,NaN,0,4,2006,WD,Normal,170000,"$170,000.00"
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,NaN,NaN,NaN,0,11,2006,WD,Normal,188000,"$188,000.00"

In [71]:
# Question 12:   Output a dataframe with only SalePrice, Neighborhood, and Year Built.  Save this file in your git 
# repository as “minimal_ames_housing.csv”,  Make sure you include the formatted SalePrice from the previous question.
min_df = df[["FormattedSalePrice","Neighborhood","Year Built"]]
min_df

     FormattedSalePrice Neighborhood  Year Built
0           $215,000.00        NAmes        1960
1           $105,000.00        NAmes        1961
2           $172,000.00        NAmes        1958
3           $244,000.00        NAmes        1968
4           $189,900.00      Gilbert        1997
...                 ...          ...         ...
2925        $142,500.00      Mitchel        1984
2926        $131,000.00      Mitchel        1983
2927        $132,000.00      Mitchel        1992
2928        $170,000.00      Mitchel        1974
2929        $188,000.00      Mitchel        1993

[2930 rows x 3 columns]

In [76]:
min_df.to_csv('minimal_ames_housing.csv', index = False)